.animation {
  width: 150px;
  height: 150px;
  background-color: #f00;
  transition: background-color .5s linear;
  animation: all 3s linear infinite alternate forwards;
}

@keyframes all {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(100px);
  }

  50% {
    transform: translateX(100px) translateY(150px);
  }

  75%, 100% {
  transform: translateX(100px) translateY(150px) scale(2) rotate(145deg);
  }
}

.animation:hover {
  background-color: #ff0;
}
