body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ebebeb;
  font-family: Arial, sans-serif;
}

/* Header styles */
.header {
  padding: 25px 0;

  text-align: center;
  font-size: 1.3rem;
}

.header__title {
  font-weight: bold;
  letter-spacing: 2.4px;
}

/* Content styles */
.content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  min-height: calc(100vh - 263px);
  margin-bottom: 50px;
}

.menu {
  width: 150px;
  background-color: #d9d9d9;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  padding: 25px 10px;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 #8d8a8a;
  cursor: pointer;
}

.menu__item:hover,
.menu__item:focus {
  background-color: #5a5a5a;
  color: #fff;
}

.rating {
  width: 150px;
  background-color: #d9d9d9;
  margin-left: auto;
  padding: 0 10px;
  align-self: flex-start;
}

.rating__title {
  font-size: 1.3rem;
  font-weight: normal;
  color: #f00;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 10px 0 0;
}

.rating__label {
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 50px;
  margin-bottom: 10px;
}

.rating__input {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  padding-right: 10px;
}

.rating__wrapper {
  display: flex;
  flex-direction: column;
}

.rating__item {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.rating__item:first-child {
  --value: -9;
}

.rating__item:nth-of-type(2) {
  --value: -8;
}

.rating__item:nth-of-type(3) {
  --value: -10;
}

.rating__item:last-child {
  --value: -4;
}

.rating__name {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

meter {
  display: block;
  width: 125px;
  height: 15px;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  background: linear-gradient(90deg, #0ae973, #fdfffe);
}

#one {
  width: calc(125px - 10%);
}

#two {
  width: calc(125px - 20%);
  background: linear-gradient(90deg, #fff715, #fffa68, #fdfffe, #fff);
}

#three {
  width: calc(125px - 0%);
}

#four {
  width: calc(125px - 60%);
  background: linear-gradient(90deg, #ec3430, #fdfffe);;
}

.rating__value {
  display: inline-block;
  margin-left: auto;
}

#sort:checked ~ .rating__wrapper > .rating__item {

  order: var(--value);
}

/* Footer styles */
.footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #d9d9d9;
  padding: 20px 50px;
}

.footer__contacts {
  color: #1634a3;
}
