body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ebebeb;
  font-family: Arial, sans-serif;
}

/* Header styles */
.header {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
}

.header__title {
  font-weight: bold;
  letter-spacing: 2.4px;
}

/* Content styles */
.content {
  display: flex;
.menu {
  width: 200px;
  background-color: #d9d9d9;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  padding: 25px 10px;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 #8d8a8a;
  cursor: pointer;
}

.menu__item:hover,
.menu__item:focus {
  background-color: #5a5a5a;
  color: #fff;
}

/* Footer styles */
.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  padding: 20px 50px;
  margin-top: auto;
}

.footer__contacts {
  color: #1634a3;
}
